.App {
  text-align: center;
}

.App__header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App__body {
  font-size: large;
}

.Home {
    margin: 20px;
}

.Home .row {
    margin-bottom: 20px;
}

.Home__success {
    /*width: 80%;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loginForm .row {
    margin-bottom: 10px;
}

.TrainerList{
    margin: 0 auto;
    width: 300px;
}

.TrainerRow{
    display: block;
}

.Trainer-logo{
    width: 50px;
    height: 50px;
}

.TrainerRow__connect{
    width: 150px;
    display: block;
}

