.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App__header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App__body {
  font-size: large;
}

.Home {
    margin: 20px;
}

.Home .row {
    margin-bottom: 20px;
}

.Home__success {
    /*width: 80%;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loginForm .row {
    margin-bottom: 10px;
}

